<div class= 'new-equipment'>
<% if @equipment.errors %>
  <% @equipment.errors.messages.each do |key, value|  %>
    <% value.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
<% end %>

<tr>
  <th>Type of Equipment | </th>
  <th>Details | </th>
  <th>Cost to Include</th>
</tr>
<%= form_for [@musician, @equipment] do |f| %>

    <%= f.select :category, options_for_select(Equipment::CATEGORY_OPTIONS) %>

    <%= f.text_area :details, rows: "5", placeholder: "eg: Mackie 24-channel 1500W with sub" %>

    <%= f.number_field :price, placeholder: "Your price to bring this to a gig - enter only a number" %>

  <%= f.submit 'Save' %>
<button type="button" name="button">+</button>
<% end %>

</div>
