<div class= 'new-equipment'>
<% if @equipment.errors %>
  <% @equipment.errors.messages.each do |key, value|  %>
    <% value.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
<% end %>

<%= form_for [@musician, @equipment] do |f| %>

  <p>
    <%= f.label :category, "Type of Equipment" %>
    <%= f.select :category, options_for_select(Equipment::CATEGORY_OPTIONS) %>
  </p>

  <p>
    <%= f.label :details %>
    <%= f.text_area :details, rows: "5", placeholder: "eg: Mackie 24-channel 1500W with sub" %>
  </p>

  <p>
    <%= f.label :price, "Cost to include" %>
    <%= f.number_field :price, placeholder: "Your price to bring this to a gig - enter only a number" %>
  </p>

  <%= f.submit 'Save to My Equipment', class: "btn" %>

<% end %>

</div>
