<div class= 'confirm-booking'>

  <h2>Confirm Your Booking Details</h2>


  <% if @musician.equipment.any? %>
    <h3>This artist has equipment available (see below!)</h3>
  <% end %>


  <%= form_for [@musician, @booking] do |f| %>

    <%= f.label :event_name %>
    <%= f.text_field :event_name, placeholder: "eg: 'McArthur Wedding', 'Company B Summer Jam'" %>

    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :ampm => true, :minute_step => 15 %>

    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :ampm => true, :minute_step => 15 %>

    <%= f.label :address %>
    <%= f.text_field :address %>

    <%= f.label :party_size %>
    <%= f.number_field :party_size, placeholder: "Approximate attendance at your event - enter only a number" %>

    <%= f.label :age_range %>
    <%= f.text_field :age_range, placeholder: "eg: '19+', 'all ages', '25 - 55'" %>

    <% if @musician.equipment.any? %>
      <div class="equipment_booking">
        <%= field_set_tag 'Equipment this artist can bring' do %>
          <% collection_check_boxes(:booking, :equipment_ids, @musician.equipment, :id, :category) do |checkbox| %>
            <div class="form-check2">
              <%= checkbox.check_box(class: "checkmark")%>
              <%= checkbox.label(class: "form-check")%>
              <span>
                <%= checkbox.object.details %>
              </span>
              <span>
                Cost to include: $<%= checkbox.object.price %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="confirm-booking-artist-info">
      <ul>
        <h3><%= @musician.act_type %> name: <%= @musician.stage_name %></h3>
        <li>Contact email: <%= @musician.email %></li>
        <li>Artist rate: $<%= @musician.hourly_rate %>/hr</li>
        <li>Total Price: $<%= (((@booking.end_time - @booking.start_time) * @musician.hourly_rate) / 3600) %></li>
      </ul>
    </div>

    <%= f.submit 'Book!', data: { confirm: "Click OK to complete your booking. It will now appear in your \"Pending bookings\".\n\nOnce confirmed by #{@musician.stage_name}, it will move to your \"Confirmed Bookings\"" }, class: 'btn' %>

  <% end %>

</div>
