<div class="found-musicians-container">
  <% @musicians.each do |musician| %>
  <div class="partial-profile-container">
    <h2><%= musician.stage_name %></h2>
    <div class='profile-picture-container shown'>
      <%= image_tag(musician.profile_picture) %>
    </div>
    <div class="partial-profile-details hidden">
      <h4>Bio:</h4>
      <p><%= musician.bio %></p>
      <h4>Plays: </h4>
      <ul>
        <% musician.genres.each do |genre| %>
        <li><%= genre.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="partial-profile-buttons">
      <div class="partial-profile-light-buttons">
        <a class="profile-details-show shown btn btn-light" href="#">Show Details</a>
        <a class="profile-details-hide hidden btn btn-light" href="#">Hide Details</a>
        <%= link_to "View Profile", user_path(musician), target: '_blank', class: 'view-profile btn btn-light' %>
      </div>
      <%= form_for [musician, @booking], url: "/bookings/#{musician.id}/new/confirmation", method: "get" do |f| %>
      <%= hidden_field_tag('booking[event_name]', @booking.event_name) %>
      <%= hidden_field_tag('booking[start_time]', @booking.start_time) %>
      <%= hidden_field_tag('booking[end_time]', @booking.end_time) %>
      <%= hidden_field_tag('booking[address]', @booking.address) %>
      <%= hidden_field_tag('booking[party_size]', @booking.party_size) %>
      <%= hidden_field_tag('booking[age_range]', @booking.age_range) %>
      <%= f.submit 'Book Me For This Event', class: "btn book-me" %>
      <% end %>
    </div>

  </div>

  <% end %>

</div>
