<div class= 'new-booking'>
<% if @booking.errors %>
  <% @booking.errors.messages.each do |key, value|  %>
    <% value.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
<% end %>

<%= form_for [@musician, @booking] do |f| %>

  <p>
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :ampm => true, :minute_step => 15 %>
  </p>

  <p>
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :ampm => true, :minute_step => 15 %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </p>

  <p>
    <%= f.label :age_range %>
    <%= f.text_field :age_range %>
  </p>

  <%= f.submit 'Book!', data: { confirm: "Click OK to complete your booking. It will now appear in your \"Pending bookings\".\n\nOnce confirmed by #{@musician.stage_name}, it will move to your \"Confirmed Bookings\"" } %>

<% end %>

</div>
