<div class= 'new-booking'>
<% if @booking.errors %>
  <% @booking.errors.messages.each do |key, value|  %>
    <% value.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
<% end %>

<div id="map_container_new_no_musician">
  <input id="pac-input" class="controls" type="text" placeholder="Venue Location">
  <div id="map"></div>

<label for="radius">Desired Radius(km)</label>
<input id="radius" type="number"><button id="set_radius"  type="button" name="button">Set radius</button>
<button id="musicians_in_radius"  type="button" name="button">Get Musicians</button>
</div>

<%= form_for @booking, url: bookings_new_find_musicians_path, method: 'get' do |f| %>

  <p>
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, :ampm => true, :minute_step => 15 %>
  </p>

  <p>
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, :ampm => true, :minute_step => 15 %>
  </p>

  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>

  <p>
    <%= f.label :party_size %>
    <%= f.number_field :party_size %>
  </p>

  <p>
    <%= f.label :age_range %>
    <%= f.text_field :age_range %>
  </p>
  <h3>Provide details about the type of act you're seeking:</h3>

  <p class='radio-buttons'>
      <%= radio_button_tag(:act_type, "dj") %>
      <%= label_tag(:act_type_dj, "DJ") %>
      <%= radio_button_tag(:act_type, "band") %>
      <%= label_tag(:act_type_band, "Band") %>
  </p>

  <p>
    <%= label_tag :hourly_rate %>
    <%= text_field_tag :hourly_rate %>
  </p>

  <p>
    <%= field_set_tag 'Genres' do %>
    <%= collection_check_boxes(:musician, :genre_ids, Genre.all, :id, :name, class: 'genre-checkbox') %>
    <% end %>
  </p>

  <%= f.submit 'Find Musicians!', :id=> "find_musicians_button", data: { disable_with: false } %>

<% end %>
</div>
