<section class='signup-form'>
  <h2>Please provide more details for your profile</h2>

  <%= form_for user do |f| %>

    <p>
      <%= f.label :bio %>
      <%= f.text_area :bio %>
    </p>

    <p>
      <%= f.label :profile_picture %>
      <%= f.text_field :profile_picture %>
    </p>

    <%= f.submit 'Update' %>

  <% end %>
</section>
