<section class='user-show clearfix'>

  <div class="client-picture">
    <%= image_tag(@user.profile_picture) %>
  </div>

  <div class='client-info'>
    <h3 class='client-name'> <%= @user.first_name %> <%= @user.last_name %></h2>
    <% if @user.bio && @user.bio.length > 0 %>
      <h3>Biography</h2>
      <p><%= @user.bio %></p>
    <% end %>
    <div class="reviews">
      <h2>Reviews for <%= @user.first_name %>:</h2>
      <ul>
        <% @user.events.each do |event| %>
          <% if event.review %>
            <li><%= event.review.musician.stage_name %> Says: '<%= event.review.clients_review %>'</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="client-buttons">
    <% if current_user && current_user.id == @user.id %>
      <div class='edit-profile'>
        <%= link_to 'Edit Profile', edit_user_path(@user)%>
      </div>
      <div class='updatepassword'>
        <%= link_to 'Update Password', users_updatepassword_path%>
      </div>
  </div>
  <div class = 'bookings'>
    <h2 class='bookingsh2'>My Pending Bookings:</h2>
    <div id="pending_bookings">
      <% @pendingbookings.each do |booking| %>
        <h4><%= booking.event_name %></h4>
        <ul id="booking_<%= booking.id %>">
          <li>Artist: <%= link_to booking.musician.stage_name, user_path(booking.musician) %></li>
          <li>Artist Contact Name: <%= booking.musician.first_name %> <%= booking.musician.last_name %></li>
          <li>Artist Contact email: <%= booking.musician.email %></li>
          <li>Event Address: <%= booking.address %></li>
          <li>Start Time: <%= booking.start_time %></li>
          <li>End Time: <%= booking.end_time %></li>
          <li>Age Range: <%= booking.age_range %></li>
          <li>Party Size: <%= booking.party_size %></li>
        </ul>
        <% end %>
    </div>
    <h2>My Confirmed Bookings:</h2>
    <div id="confirmed_bookings">
      <% @confirmedbookings.each do |booking| %>
        <h4><%= booking.event_name %></h4>
        <ul id="booking_<%= booking.id %>">
          <li>Artist: <%= link_to booking.musician.stage_name, user_path(booking.musician) %></li>
          <li>Artist Contact Name: <%= booking.musician.first_name %> <%= booking.musician.last_name %></li>
          <li>Artist Contact email: <%= booking.musician.email %></li>
          <li>Event Address: <%= booking.address %></li>
          <li>Start Time: <%= booking.start_time %></li>
          <li>End Time: <%= booking.end_time %></li>
          <li>Age Range: <%= booking.age_range %></li>
          <li>Party Size: <%= booking.party_size %></li>
        </ul>
      <% end %>
    </div>
    <h2>My Past Bookings:</h2>
    <div id="past_bookings">
      <% @pastbookings.each do |booking| %>
        <h4><%= booking.event_name %></h4>
        <ul id="booking_<%= booking.id %>">
          <li>Artist: <%= link_to booking.musician.stage_name, user_path(booking.musician) %></li>
          <li>Artist Contact Name: <%= booking.musician.first_name %> <%= booking.musician.last_name %></li>
          <li>Artist Contact email: <%= booking.musician.email %></li>
          <li>Event Address: <%= booking.address %></li>
          <li>Start Time: <%= booking.start_time %></li>
          <li>End Time: <%= booking.end_time %></li>
          <li>Age Range: <%= booking.age_range %></li>
          <li>Party Size: <%= booking.party_size %></li>
        </ul>
        <% if !booking.review || booking.review.musician_reviewed == false %>
          <div class="write_review">
            <%= link_to 'Write review', new_user_booking_review_path(@user, booking) %>
            <div class="review_form hidden">
              <%= form_for(@review, :url => user_booking_reviews_path(@user, booking)) do |f|%>
                <button type="button" class="close">x</button>
                <p>
                  <%= f.label :review_for_musician, "Review for: #{booking.musician.first_name}" %>
                  <%= f.text_area :musicians_review, rows: "7", class: "review_text_box" %>
                </p>
                <p>
                  <%= f.submit %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
    <% end %>

    <% end %>
    <%= render 'bookings.js' %>
  </div>
</div>
  <% if !current_user %>
    <p> Please log in to view contact information. </p>
  <% end %>
</section>
