<h2>Please provide/update your profile information</h2>

<%= form_for(user, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </p>

  <p>
    <% if @user.profile_picture %>
      <%= image_tag(@user.profile_picture) %>
    <% end %>
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture, placeholder: "Upload a profile picture" %>
  </p>


  <%= f.submit 'Update', class: 'btn' %>

<% end %>
