<section class='signup-form'>
 <h2>Please provide details for your profile</h2>

 <%= form_for user do |f| %>
   <p>
     <%= f.label "Your Band/DJ Name" %>
     <%= f.text_field :stage_name %>
   </p>

   <p class='radio-buttons'>
       <%= radio_button_tag(:act_type, "dj") %>
       <%= label_tag(:act_type_dj, "DJ") %>
       <%= radio_button_tag(:act_type, "band") %>
       <%= label_tag(:act_type_band, "Band") %>
   </p>

   <p>
     <%= f.label :address %>
     <%= f.text_field :address %>
   </p>

   <p>
     <%= f.label :bio %>
     <%= f.text_area :bio %>
   </p>

   <p>
     <%= f.label :profile_picture %>
     <%= f.text_field :profile_picture %>
   </p>

   <p>
     <%= f.label :hourly_rate %>
     <%= f.text_field :hourly_rate %>
   </p>

   <div class='genres'>
     <%= field_set_tag "Genres" do %>
     <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |checkbox| %>
     <div class="form-check2">
       <%= checkbox.label(class: "form-check")%>
       <%=checkbox.check_box(class: "checkmark")%>
       <span class='checkmark'></span>
     </div>
     <% end %>
     <% end %>
   </div>


   <%= f.submit 'Update' %>

 <% end %>

</section>

 <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyCcNr3L8XYiOH0E81G4w_6OJjgrmNCqQrU&callback=initAutocomplete" async defer></script>
