<section class='user-show musician'>

  <div class="profile-picture">
    <%= image_tag(@user.profile_picture) %>
    <% if current_user && current_user.id == @user.id %>
      <div class='edit-profile'>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-light"%>
        <%= link_to 'Update Password', users_updatepassword_path, class: "btn btn-light"%>
      </div>
    <% end %>
  </div>

  <div class='profile-info'>
    <h1><%= @user.stage_name %></h1>

    <h3>Act Type: <%= @user.act_type.capitalize %></h3>

    <p class='profile-name'>Artist <%= @user.first_name %> <%= @user.last_name %></p>
    <% if current_user %>
      <p><%= @user.email %></p>
    <% end %>
      <h3>Biography</h3>
      <p><%= @user.bio %></p>
      <p> Rate: $<%= @user.hourly_rate %>0 /hour</p>
      <% if @genres.any? %>
    <div class="genres">
      <h3>My Genres:</h3>
      <ul>
        <% @genres.each do |genre| %>
          <li><%= genre.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="equipment">
      <% if @user.equipment.any? %>
        <h3>My available equipment:</h3>
        <% @user.equipment.each do |equipment| %>
          <p><strong>Item: </strong><%= equipment.category %></p>
          <p><strong>Details: </strong><%= equipment.details %></p>
          <p><strong>Cost to include: </strong>$<%= equipment.price %></p>
        <% end %>
      <% end %>
      <% if @user == current_user %>
      <%= link_to "Add Equipment", new_user_equipment_path(@user), class: "btn btn-light" %>
      <% end %>
    </div>
  <% end %>

    <div class='book-button'>
    <% if current_user && current_user.kind == 'client' %>
      <%= link_to 'Book Me Now!', new_user_booking_path(@user), class: 'btn' %>
    <% end %>
    </div>
  </div>

  <% if current_user && current_user.id == @user.id %>
    <div class='bookings'>
      <div class='booking-list'>
        <h3>My Pending Bookings:</h3>
        <div class="details">
          <% @pendingbookings.each do |booking| %>
            <ul id="booking_<%= booking.id %>">
              <h4><%= booking.event_name %></h4>
              <li>Client name: <%= link_to booking.client.first_name, user_path(booking.client) %></li>
              <li>Address: <%= booking.address %></li>
              <li>Start Time: <%= booking.start_time %></li>
              <li>End Time: <%= booking.end_time %></li>
              <li>Age Range: <%= booking.age_range %></li>
              <li>Party Size: <%= booking.party_size %></li>
                <li>Total Price: $<%= (((booking.end_time - booking.start_time) * booking.musician.hourly_rate) / 3600) + (booking.equipment.inject(0) { |sum, equip| sum + equip.price }) %></li>
            <% if booking.equipment.any?  %>
              <h4>Equipment Requested:</h4>
                <% booking.equipment.each do |equip| %>
                <li><%= equip.category %> for $<%= equip.price %></li>
                <% end %>
            <% end %>
            <li class="button_container"><button class="confirm_booking btn" type="button" name="confirm_booking" data-booking_id="<%= booking.id %>">Confirm!</button></li>
            <li class="button_container"><button class="reject_booking btn btn-light" type="button" name="reject_booking" data-booking_id="<%= booking.id %>">Reject</button></li>
          <% end %>
        </ul>
        </div>
      </div>
      <div class='booking-list'>
        <h3>My Confirmed Bookings:</h3>
        <div class="details" id="confirmed_bookings">
          <% @confirmedbookings.each do |booking| %>
            <ul id="booking_<%= booking.id %>">
              <h4><%= booking.event_name %></h4>
              <li>Client name: <%= link_to booking.client.first_name, user_path(booking.client) %></li>
              <li>Address: <%= booking.address %></li>
              <li>Start Time: <%= booking.start_time %></li>
              <li>End Time: <%= booking.end_time %></li>
              <li>Age Range: <%= booking.age_range %></li>
              <li>Party Size: <%= booking.party_size %></li>
              <li>Total Price: $<%= (((booking.end_time - booking.start_time) * booking.musician.hourly_rate) / 3600) + (booking.equipment.inject(0) { |sum, equip| sum + equip.price }) %></li>
            </ul>
            <% if booking.equipment.any?  %>
              <h4>Equipment Requested:</h4>
              <ul>
                <% booking.equipment.each do |equip| %>
                <li><%= equip.category %> for $<%= equip.price %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="booking-list">
        <h3>My Past Bookings:</h3>
        <div class="details">
          <% @pastbookings.each do |booking| %>
            <h4><%= booking.event_name %></h4>
            <ul id="booking_<%= booking.id %>"
              <li>Client name: <%= link_to booking.client.first_name, user_path(booking.client) %></li>
              <li>Address: <%= booking.address %></li>
              <li>Start Time: <%= booking.start_time %></li>
              <li>End Time: <%= booking.end_time %></li>
              <li>Age Range: <%= booking.age_range %></li>
              <li>Party Size: <%= booking.party_size %></li>
                <li>Total Price: $<%= (((booking.end_time - booking.start_time) * booking.musician.hourly_rate) / 3600) + (booking.equipment.inject(0) { |sum, equip| sum + equip.price }) %></li>
            </ul>
            <% if !booking.review || booking.review.client_reviewed == false %>
              <div class="write_review">
                <%= link_to 'Write review', new_user_booking_review_path(@user, booking) %>
                <div class="review_form hidden">
                  <%= form_for(@review, :url => user_booking_reviews_path(@user, booking)) do |f|%>
                    <button type="button" class="close">x</button>
                    <p>
                      <%= f.label :clients_review, "Review for: #{booking.client.first_name}" %>
                      <%= f.text_area :clients_review, rows: "7", class: "review_text_box" %>
                    </p>
                    <p>
                      <%= f.submit %>
                    </p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
          <%= render 'bookings.js' %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="reviews">
    <h2>Reviews for <%= @user.stage_name %>:</h2>
    <ul>
      <% @user.gigs.each do |gig| %>
        <% if gig.review %>
          <li><%= gig.review.client.first_name %> Says: '<%= gig.review.musicians_review %>'</li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>
