<section class='user-show'>
  <h1><%= @user.stage_name %></h1>
  <h3>Act Type: <%= @user.act_type.capitalize %></h3>

  <div class="musician-picture">
    <%= image_tag(@user.profile_picture) %>
  </div>

  <div class='artist-info'>
    <p class='musician-name'>Artist <%= @user.first_name %> <%= @user.last_name %></p>
    <% if current_user %>
      <p><%= @user.email %></p>
    <% end %>
      <h2>Biography</h2>
      <p><%= @user.bio %></p>
      <p> Rate: $<%= @user.hourly_rate %>0 /hour</p>
      <% if @genres.any? %>
    <div class="genres">
      <h3>My Genres:</h3>
      <ul>
        <% @genres.each do |genre| %>
          <li><%= genre.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="reviews">
      <h2>Reviews for <%= @user.stage_name %>:</h2>
      <ul>
        <% @user.gigs.each do |gig| %>
          <% if gig.review %>
            <li><%= gig.review.client.first_name %> Says: '<%= gig.review.musicians_review %>'</li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="equipment">
      <% if @user.equipment.any? %>
        <h2>My available equipment:</h2>
        <% @user.equipment.each do |equipment| %>
          <p><strong>Item: </strong><%= equipment.category %></p>
          <p><strong>Details: </strong><%= equipment.details %></p>
          <p><strong>Cost to include: </strong>$<%= equipment.price %></p>
        <% end %>
      <% end %>
    </div>
    <div class="equipment_form">
      <% if @user == current_user %>
        <tr>
          <th>Type of Equipment | </th>
          <th>Details | </th>
          <th>Cost to Include</th>
        </tr>
        <%= form_for [@user, @equipment] do |f| %>

            <%= f.select :category, options_for_select(Equipment::CATEGORY_OPTIONS) %>

            <%= f.text_area :details, rows: "5", placeholder: "eg: Mackie 24-channel 1500W with sub" %>

            <%= f.number_field :price, placeholder: "Your price to bring this to a gig - enter only a number" %>

          <%= f.submit '+', class: 'add_equipment' %>
        <button type="button" name="button">-</button>
        <% end %>
      <% end %>
    </div>

  <% end %>


    <div class='book-button'>
    <% if current_user && current_user.kind == 'client' %>
      <%= link_to 'Book Me Now!', new_user_booking_path(@user) %>
    <% end %>
    </div>
  </div>

<% if current_user && current_user.id == @user.id %>
  <div class='bookings'>
    <div class='edit-profile'>
      <%= link_to 'Edit Profile', edit_user_path(@user)%>
    </div>
    <div class='updatepassword'>
      <%= link_to 'Update Password', users_updatepassword_path%>
    </div>
  </div>
  <div class='musician-pending-bookings'>
    <h2>My Pending Bookings:</h2>
    <div id="pending_bookings">
      <% @pendingbookings.each do |booking| %>
        <h4><%= booking.event_name %></h4>
        <ul id="booking_<%= booking.id %>">
          <li>Client name: <%= link_to booking.client.first_name, user_path(booking.client) %></li>
          <li>Address: <%= booking.address %></li>
          <li>Start Time: <%= booking.start_time %></li>
          <li>End Time: <%= booking.end_time %></li>
          <li>Age Range: <%= booking.age_range %></li>
          <li>Party Size: <%= booking.party_size %></li>
          <li>Total Price: $<%= ((booking.end_time - booking.start_time) * @user.hourly_rate) / 3600%></li>
          <li class="button_container"><button class="confirm_booking" type="button" name="confirm_booking" data-booking_id="<%= booking.id %>">Confirm!</button></li>
          <li class="button_container"><button class="reject_booking" type="button" name="reject_booking" data-booking_id="<%= booking.id %>">Reject</button></li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class='musician-confirmed-bookings'>
    <h2>My Confirmed Bookings:</h2>
    <div id="confirmed_bookings">
      <% @confirmedbookings.each do |booking| %>
        <h4><%= booking.event_name %></h4>
        <ul id="booking_<%= booking.id %>">
          <li>Client name: <%= link_to booking.client.first_name, user_path(booking.client) %></li>
          <li>Address: <%= booking.address %></li>
          <li>Start Time: <%= booking.start_time %></li>
          <li>End Time: <%= booking.end_time %></li>
          <li>Age Range: <%= booking.age_range %></li>
          <li>Party Size: <%= booking.party_size %></li>
        </ul>
        <% end %>
    </div>
  </div>
  <div class="musician-past-bookings">
    <h2>My Past Bookings:</h2>
    <div id="past_bookings">
      <% @pastbookings.each do |booking| %>
        <h4><%= booking.event_name %></h4>
        <ul id="booking_<%= booking.id %>"
          <li>Client name: <%= link_to booking.client.first_name, user_path(booking.client) %></li>
          <li>Address: <%= booking.address %></li>
          <li>Start Time: <%= booking.start_time %></li>
          <li>End Time: <%= booking.end_time %></li>
          <li>Age Range: <%= booking.age_range %></li>
          <li>Party Size: <%= booking.party_size %></li>
        </ul>
        <% if !booking.review || booking.review.client_reviewed == false %>
          <div class="write_review">
            <%= link_to 'Write review', new_user_booking_review_path(@user, booking) %>
            <div class="review_form hidden">
              <%= form_for(@review, :url => user_booking_reviews_path(@user, booking)) do |f|%>
                <button type="button" class="close">x</button>
                <p>
                  <%= f.label :clients_review, "Review for: #{booking.client.first_name}" %>
                  <%= f.text_area :clients_review, rows: "7", class: "review_text_box" %>
                </p>
                <p>
                  <%= f.submit %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render 'bookings.js' %>
    </div>
  </div>
<% end %>
  <% if !current_user %>
    <p> Please log in to view contact information. </p>
  <% end %>
</section>
