<section class='index-musicians'>
  <% @users.each do |user| %>
  <div class="partial-profile-container">
    <h2><%= user.stage_name %></h2>
    <div class='profile-picture-container shown'>
      <%= image_tag(user.profile_picture) %>
    </div>
    <div class="partial-profile-details hidden">
      <h4>Bio:</h4>
      <p><%= user.bio %></p>
      <h4>Plays: </h4>
      <ul>
        <% user.genres.each do |genre| %>
        <li><%= genre.name %></li>
        <% end %>
      </ul>
    </div>
    <a class="profile-details-show shown btn btn-light" href="#">Show Details</a>
    <a class="profile-details-hide hidden btn btn-light" href="#">Hide Details</a>
    <%= link_to "View Profile", user_path(user), class: 'view-profile btn btn-light' %>
    <% if current_user && current_user.kind == 'client' %>
      <%= link_to 'Book Me For An Event', new_user_booking_path(user), class: "btn book-me" %>
    <% end %>
  </div>
  <% end %>
</section>
