<%= form_for @user do |f| %>

<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>
<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</p>
<p class='radio-buttons'>
    <%= radio_button_tag(:kind, "musician") %>
    <%= label_tag(:kind_musician, "Musician") %>
    <%= radio_button_tag(:kind, "client") %>
    <%= label_tag(:kind_client, "Client") %>
</p>
<div class='signup-button'>
  <%= f.submit 'Sign Up' %>
</div>
<% end %>
