<div class='form-wrapper'>

  <%= form_for @user do |f| %>
  <h2>Create New Account</h2>
  <h4>Register for free today.</h4>

    <%= f.text_field :first_name, placeholder: "First Name" %>

    <%= f.text_field :last_name, placeholder: "Last Name" %>

    <%= f.text_field :email, placeholder: "Email" %>

    <%= f.password_field :password, placeholder: "Password" %>

    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

  <p class='radio-buttons' id="user-kind-radio-buttons">
    <%= radio_button_tag(:kind, "client", true) %>
    <%= label_tag(:kind_client, "Event Planner") %>
    <%= radio_button_tag(:kind, "musician") %>
    <%= label_tag(:kind_musician, "Musician") %>
  </p>

  <div class="musician-only-fields hidden">

      <%= f.text_field :stage_name, placeholder: "Your Band / DJ Name" %>

    <p class='radio-buttons'>Act Type:
      <%= radio_button_tag(:act_type, "dj") %>
      <%= label_tag(:act_type_dj, "DJ") %>
      <%= radio_button_tag(:act_type, "band") %>
      <%= label_tag(:act_type_band, "Band") %>
    </p>


      <%= f.text_field :address, placeholder: "Address" %>

      <%= f.text_area :bio, placeholder: "Please provide a brief bio / description" %>

      <%= f.label :profile_picture %>
      <%= f.file_field :profile_picture %>

      <%= f.number_field :hourly_rate, placeholder: "Your Performance Rate (in $/hr)" %>

    <div class='genres'>
      <%= field_set_tag "Genres" do %>
      <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |checkbox| %>
      <div class="form-check2">
        <%= checkbox.check_box(class: "checkmark") %>
        <%= checkbox.label(class: "form-check") %>
        <span class='checkmark'></span>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class='signup-button'>
    <%= f.submit 'Sign Up', class: 'btn' %>
  </div>
  <% end %>
</div>
