

<section class='user-show'>
  <h1><%= @user.stage_name %></h1>

  <div class='artist-info'>
    <p class='musician-name'>Artist <%= @user.first_name %> <%= @user.last_name %></p>
    <% if current_user %>
      <p><%= @user.email %></p>
    <% end %>

    <div class="musician-picture">
      <%= image_tag(@user.profile_picture) %>
    </div>
    <h2>Biography</h2>
    <p><%= @user.bio %></p>
    <p> Rate: $<%= @user.hourly_rate %>0 /hour</p>
  </div>
<% if @genres.any? %>
  <div class="genres">
    <h3>My Genres:</h3>
    <ul>
      <% @genres.each do |genre| %>
        <li><%= genre.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class='book-button'>
  <% if current_user && current_user.kind == 'client' %>
    <%= link_to 'Book Me Now!', new_user_booking_path(@user) %>
  <% end %>
  </div>

<% if current_user && current_user.id == @user.id %>
  <p>My Pending Bookings:</p>
  <div id="pending_bookings">
    <% @pendingbookings.each do |booking| %>
      <ul id="booking_<%= booking.id %>">
        <li>Client name: <%= booking.client.first_name %></li>
        <li>Address: <%= booking.address %></li>
        <li>Start Time: <%= booking.start_time %></li>
        <li>End Time: <%= booking.end_time %></li>
        <li>Age Range: <%= booking.age_range %></li>
        <li>Party Size: <%= booking.party_size %></li>
        <li class="button_container"><button class="confirm_booking" type="button" name="confirm_booking" data-booking_id="<%= booking.id %>">Confirm!</button></li>
      </ul>
    <% end %>
  </div>
  <p>My Confirmed Bookings:</p>
  <div id="confirmed_bookings">
    <% @confirmedbookings.each do |booking| %>
      <ul id="booking_<%= booking.id %>">
        <li>Client name: <%= booking.client.first_name %></li>
        <li>Address: <%= booking.address %></li>
        <li>Start Time: <%= booking.start_time %></li>
        <li>End Time: <%= booking.end_time %></li>
        <li>Age Range: <%= booking.age_range %></li>
        <li>Party Size: <%= booking.party_size %></li>
      </ul>
    <% end %>
  </div>
  <p>My Past Bookings:</p>
  <div id="past_bookings">
    <% @pastbookings.each do |booking| %>
      <ul id="booking_<%= booking.id %>">
        <li>Client name: <%= booking.client.first_name %></li>
        <li>Address: <%= booking.address %></li>
        <li>Start Time: <%= booking.start_time %></li>
        <li>End Time: <%= booking.end_time %></li>
        <li>Age Range: <%= booking.age_range %></li>
        <li>Party Size: <%= booking.party_size %></li>
        <li><%= link_to 'Write review', new_user_booking_review_path(@user, booking) %></li>
      </ul>
    <% end %>
  </div>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %>




<%= render 'bookings.js' %>




</section>
