<section class='user-show clearfix'>
  <h1><%= @user.stage_name %></h1>
  <h3>Act Type: <%= @user.act_type.capitalize %></h3>

  <div class="musician-picture">
    <%= image_tag(@user.profile_picture) %>
  </div>

  <div class='artist-info'>
    <p class='musician-name'>Artist <%= @user.first_name %> <%= @user.last_name %></p>
    <% if current_user %>
      <p><%= @user.email %></p>
    <% end %>

      <h2>Biography</h2>
      <p><%= @user.bio %></p>
      <p> Rate: $<%= @user.hourly_rate %>0 /hour</p>
      <% if @genres.any? %>
    <div class="genres">
      <h3>My Genres:</h3>
      <ul>
        <% @genres.each do |genre| %>
          <li><%= genre.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class='book-button'>
    <% if current_user && current_user.kind == 'client' %>
      <%= link_to 'Book Me Now!', new_user_booking_path(@user) %>
    <% end %>
    </div>
  </div>

  <% if current_user && current_user.id == @user.id %>
  <div class='edit-profile'>
    <%= link_to 'Edit Profile', edit_user_path(@user)%>
  </div>

<div class='musician-pending-bookings'>
  <h2>My Pending Bookings:</h2>
    <ul>
      <% @pendingbookings.each do |booking| %>
        <li>Client name: <%= booking.client.first_name %></li>
        <li>Address: <%= booking.address %></li>
        <li>Start Time: <%= booking.start_time.strftime('%a %b %e at %l:%M %p') %></li>
        <li>End Time: <%= booking.end_time.strftime('%a %b %e at %l:%M %p') %></li>
        <li>Age Range: <%= booking.age_range %></li>
        <li>Party Size: <%= booking.party_size %></li>
        <button type="button" name="Confirm Booking">confirm</button>
      <% end %>
    </ul>
</div>
<div class='musician-confirmed-bookings'>
  <h2>My Confirmed Bookings:</h2>
    <ul>
      <% @confirmedbookings.each do |booking| %>
        <li>booking.client.first_name</li>
        <li>Address: <%= booking.address %></li>
        <li>Start Time: <%= booking.start_time.strftime('%a %b %e at %l:%M %p') %></li>
        <li>End Time: <%= booking.end_time.strftime('%a %b %e at %l:%M %p') %></li>
        <li>Age Range: <%= booking.age_range %></li>
        <li>Party Size: <%= booking.party_size %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
<div class='reviews'>
  <% if @user.musician_reviews.first.comment %>
    <div class='musician-reviews'>
    <% @user.musician_reviews.each do |review|  %>
      <p><%= review.comment %></p>
    <% end %>
  </div>
  <% end %>

  <%= render 'reviews/reviews_form', user: @user, review: @review %>
</div>
  <% if !current_user %>
    <p> Please log in to view contact information. </p>
  <% end %>
</section>
