<h1>User Profile</h1>

  <ul>
    <li><%= @user.first_name %> <%= @user.last_name %></li>
    <% if current_user %>
      <li><%= @user.email %></li>
    <% end %>
    <% if !current_user %>
      <li> Please log in to view contact information. </li>
    <% end %>
    <li><%= @user.profile_picture %></li>
    <li><%= @user.bio %></li>
    <li><%= @user.hourly_rate_in_cents %></li>
  </ul>


  <% if current_user && current_user.kind == 'client' %>
    <%= link_to 'Book Me Now!', new_user_booking_path(@user) %>
  <% end %>

  <% if current_user && current_user.id == @user.id %>
  <p>My Pending Bookings:</p>
    <ul>
      <% @pendingbookings.each do |booking| %>
        <li>Client name: <%= booking.client.first_name %></li>
        <li>Address: <%= booking.address %></li>
        <li>Start Time: <%= booking.start_time %></li>
        <li>End Time: <%= booking.end_time %></li>
        <li>Age Range: <%= booking.age_range %></li>
        <li>Party Size: <%= booking.party_size %></li>
        <li><button type="button" name="Confirm Booking"></button></li>
      <% end %>
    </ul>
  <p>My Confirmed Bookings:</p>
    <ul>
      <% @confirmedbookings.each do |booking| %>
        <li>booking.client.first_name</li>
        <li>Address: <%= booking.address %></li>
        <li>Start Time: <%= booking.start_time %></li>
        <li>End Time: <%= booking.end_time %></li>
        <li>Age Range: <%= booking.age_range %></li>
        <li>Party Size: <%= booking.party_size %></li>
      <% end %>
    </ul>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <% end %>

  <ul>
  <% @user.musician_reviews.each do |review|  %>
    <li><%= review.comment %></li>
  <% end %>
  </ul>

  <%= render 'reviews/reviews_form', user: @user, review: @review %>
