<h1>User Profile</h1>

  <% if current_user && current_user.id == @user.id %>
    <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <% end %>

  <ul>
    <li><%= @user.first_name %> <%= @user.last_name %></li>
    <% if current_user %>
      <li><%= @user.email %></li>
    <% end %>
    <% if !current_user %>
      <li> Please log in to view contact information. </li>
    <% end %>
    <li><%= @user.profile_picture %></li>
    <li><%= @user.bio %></li>
    <li><%= @user.hourly_rate_in_cents %></li>
  </ul>

  <%= link_to 'Book Me Now!', new_user_booking_path(@user) %>
