<!DOCTYPE html>
<html>
  <head>
    <title>MovingMusic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='clearfix'>
      <% if flash[:alert] %>
        <ul>
          <% flash[:alert].each do |alert| %>
            <li><%= alert %></li>
          <% end %>
        </ul>
      <% end %>

        <nav class='layout-links'>
          <%= link_to 'Home', users_path %>
          <% if current_user %>
          <div class="user-info clearfix">
            <p>Logged in as: <%= current_user.email %> </p>
            <p><%= link_to "Sign Out", logout_path, method: :delete %></p>
          </div>
        <% else %>
          <div class="register">
            <%= link_to "Register / Sign Up", new_user_path %>
          </div>
          <div class="log-in">
            <%= link_to "Log In", new_session_path%>
          </div>
        </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>

<%= console %>
