<!DOCTYPE html>
<html>
  <head>
    <title>MovingMusic</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id=<%="#{params[:controller]}_#{params[:action]}"%>>
    <header class='header clearfix'>

        <nav class='layout-links clearfix'>
          <div style="">

            <img src="/assets/logo.jpg" alt="Logo" style="height: 45px; min-height: 20px;width: 50px;">
             <span style="display:inline-block;float:right;"> PlayMyParty
          </span>
        </div>
        <div>
          <%= link_to 'Home', root_path %>
          <% if current_user %>
              <%= link_to "Sign Out", logout_path, method: :delete %>
              <%= link_to "My Profile", current_user%>
          <% else %>
              <%= link_to "Register / Sign Up", new_user_path %>
              <%= link_to "Log In", new_session_path%>
          <% end %>
          <% if current_user && current_user.kind == "client" %>
              <%= link_to "Create New Booking", bookings_new_path %>
          <% end %>
          <% if current_user && current_user.kind == "client" %>
              <%= link_to "Show all musicians", users_path %>
          <% end %>
          <div class='search'>
            <%= form_tag(users_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :term, params[:term], placeholder: "Search" %>
            <% end %>
            <%= submit_tag "Search", name: nil %>
          </div>
        </div>
        </nav>
    </header>

    <%= yield %>
  </body>

</html>
